<div>Joseph Edward</div>
Richmond, VA</div>
<div>Email​: ​josephedwardwork@gmail.com​ ​LinkedIn:​ ​linkedin.com/in/joseph-edward-ab7355185</div>
<div>GitHub:​ ​github.com/josephedward ​ ​Portfolio:​ ​josephedward.github.io/portfolio-site/ Summary</div>
Full Stack Web Developer with a background in building and optimizing user-centric, high-impact web applications. Creative engineer known for combining problem solving and effective attention to detail to handle complex software problems.</div>
<div>Technical Skills</div>
<div>MERN Stack (Mongoose ORM, Express, React, Node.js), REST APIs, AWS (EC2, S3, Route53), VSCode, HTML, CSS, JavaScript, ECMAScript, jQuery, Bootstrap, Semantic UI, Google Firebase, MySQL & MySQL Workbench, Sequelize ORM, MongoDB, Postman, Robo3t, Heroku, Git, NetBeans, Java Swing and JavaFX, VirtualBox, Debian Linux, Bash, PowerShell, WordPress, npm, Moment.js, Lodash, Inquirer.js, Axios</div>
<div>Projects</div>
<div>Libridex (Audiobook Shuffle)</div>
Repo: ​https://github.com/josephedward/audiobook_shuffle Demo: ​https://young-mesa-47542.herokuapp.com/</div>
<div>Deck</div>
● Summary: ​Audiobook player that randomizes chapter and content based upon search parameters, stores liked audiobooks like Pandora or Spotify, via the LIbrivox API.</div>
<div>● Contribution​: Entirety (Solo Project)</div>
<div>● Stack: ​MERN Stack (Mongoose ORM, Express, React, Node.js)​, Semantic UI, Axios, BCrypt, Local Storage,</div>
<div>Librivox API, Heroku</div>
Sentact ​(Syndir)</div>
<div>Repo: ​https://github.com/josephedward/GroupProject2 Demo:​ ​https://synder.herokuapp.com/</div>
<div>Deck</div>
<div>● Summary:​ Sentiment-Analysis-Based Social Media; uses a sentiment-analysis wordlist to match users on their psychological inclinations.</div>
<div>● Contribution:​ Backend Node.js, NPM sentiment package scoring, matching algorithm, Sequelize model, MySQL user and match objects</div>
<div>● Stack:​ Sequelize ORM, jQuery, AJAX, Axios. Google Firebase, Node.js, Express, MySQL, NPM Sentiment, Heroku</div>
SpanMove</div>
<div>Repo: ​https://github.com/josephedward/group-project-1</div>
<div>Demo:​ ​https://josephedward.github.io/group-project-1/demo.html Deck</div>
● Summary:​ Bridge operation and assurance training system. Simulates control module for drawbridge with realistic sequence machinery, error messages.</div>
<div>● Contribution:​ Frontend HTML and Javascript for the compass canvas, firebase error logging, lodash for parsing firebase objects</div>
<div>● Stack:​ HTML, CSS, JavaScript, jQuery, AJAX, Moment.js, Google Maps API, Weather API, Google Firebase, Lodash</div>
             <div></div>
 <div>Relevant Experience</div>
<div>Web Developer</div>
<div>VAAACares</div>
<div>Built WordPress sites hosted on GoDaddy and AWS for ​VAAACares​, ​EVCTP​, and Senior Connections Area Agencies on Aging. Edited HTML/CSS/JS and utilized PHPmyAdmin for database administration. Communicated with supervisors, in-house agency teams to collaboratively provide critical front- and back-end web development optimizing user experience, agency messaging, and related metrics.</div>
<div>Key Accomplishments:</div>
<div>● While interning for BayAging, built two Java Swing apps for care transition evaluations: ○ https://github.com/josephedward/LACEcalc</div>
<div>○ https://github.com/josephedward/BOOSTcalc</div>
Solutions Integrator ​Sept​ ​2019 – Dec 2019</div>
<div>User1st Washington, D.C.</div>
<div>Mapped and remediated client sites with custom javascript uTester and uRemediate interfaces, according to Web Content Accessibility Guidelines (WCAG) 2.0 and Section 508 guidelines. Trained on SCORM based Training Content System with over 100 course modules, quizzes and exams on accessibility. Performed consistent regression and user experience tests to error check against compliance standards.</div>
<div>Software Engineer ​Jan – July 2017</div>
<div>Proqual - I.T. ​Rockville, MD (Remote)</div>
<div>Prototyped blockchain as a permissions layer on biometric/PHI data for ​Practice Guardian​ app. Performed support testing on ​SecQRme​ wristband QR tracking application, frontend work on app web page.</div>
<div>Education</div>
<div>Full-Stack Web Developer Certificate: University of Richmond​, Richmond, VA - ​July​ ​2019</div>
<div>Covers all aspects of the browser, MERN Stack, REST APIs, JSON, server-side technologies, data structures and algorithms, reactive components, and collaborating with Git.</div>
<div>Amazon Web Services Certified Cloud Practitioner: AWS Training and Certification​, Validation Number: CYN86EY1KBR4119R - ​2018​ ​Cloud concepts and AWS services, security and architecture principles, deploying and operating in the AWS Cloud, pricing, and technical assistance.</div>
<div>Master of Science, Software Engineering: George Mason University​, Fairfax, VA - projected graduation: 2021 Completed coursework includes advanced OOP with Java, software modeling.</div>
<div>Key Accomplishments:</div>
<div>● Pitch IT Competition Selection, April 2014</div>
<div>George Mason University Laboratory for Information Technology Entrepreneurship</div>
<div>● Entrepreneur Competition Selection Runner Up, March 2014 ModSim World Conference</div>
Bachelor of Science, Political Science: Old Dominion University​, Norfolk, VA - 2013 Magna cum Laude - GPA: 3.79 - Pi Sigma Alpha Honor Society - Minor: Finance</div>
Key Accomplishments:</div>
● Complexity in Business Conference Selection, November 2013 University of Maryland Center for Complexity in Business</div>
● Capstone Conference Selection, March 2013 Virginia Modeling and Simulation Center (VMASC)</div>
● Undergraduate Fellowship Research Grant, June 2012 Old Dominion University Honors College</div>
Aug 2015 – Present Richmond, VA</div>
       </div>