<p><strong>JOSEPH</strong><strong> EDWARD</strong></p>
<p>Richmond, VA | U.S. Citizen | <strong>Updated</strong>: 04/21</p>
    Email</strong>: <u>josephedwardwork@gmail.com</u></p>
<p><strong>LinkedIn:</strong> <u><a href="https://www.linkedin.com/in/joseph-edward-ab7355185" rel="nofollow">https://www.linkedin.com/in/joseph-edward-ab7355185</a></u></p>
<p><strong>GitHub:</strong> <u><a href="http://github.com/josephedward" rel="nofollow">http://github.com/josephedward</a></u> </p>
<p><strong>Portfolio:</strong> <u><a href="https://joseph-edward.herokuapp.com/projects" rel="nofollow">https://joseph-edward.herokuapp.com/projects</a></u></p>

<p><strong>Summary</strong></p>
<p>Mr. Joseph Edward is a skilled software engineer, who is eager to join a new project.  Bringing six years of experience, Mr. Edward has developed a variety of skills in backend and frontend web application development, data warehousing and conversion, and document validation. Mr. Edward is certified in Amazon Web Services, Databricks, MERN Stack development, and Data Visualization. He is ideally suited to handling federal biometric data, given his past experience with securing sensitive PHI and PPI. Mr. Edward has gained his experience working in a cloud native devops environment with an agile project lifecycle approach. He excels at communicating with the client, understanding their requirements, fulfilling them, and verifying that his product meets company and international standards. Mr. Edward thrives under intense time-constraints, is detail-oriented, and is highly motivated to produce quality work.</p>

<p><strong>Technical Skills</strong></p>
<p><strong>JavaScript</strong></p><p>JavaScript, Angular, React, Typescript, JSX, ECMAScript, Webpack, jQuery, Semantic UI, Material Design, Bootstrap, Cypress, D3, Plotly</p><p><strong>Python</strong></p><p>Python, Boto3,  Spark, Flask, Numpy, Pandas, SQLAlchemy, Splinter, BeautifulSoup, MapBoxGL, Dash</p><p><strong>Database</strong></p><p>MySQL, Sequelize, PostgreSQL, MongoDB, Mongoose</p><p><strong>Cloud Platforms</strong></p><p>AWS,  Databricks, GCP, Heroku, Netlifi, Vercel</p><p><strong>Java</strong></p><p>Java, Spring Boot, Selenium, Java Swing</p><p><strong>DevOps</strong></p><p>Kubernetes, Docker, VirtualBox, Debian Linux, Gitlab, Terraform</p><p><strong>Data</strong></p><p>Excel, VBA, Tableau </p>

<p><strong>Certifications</strong></p>
<p><strong>Data Science Certificate</strong></p><p>University of Richmond, Richmond, VA</p><p><blockquote>(July 2020)</blockquote></p><p><strong>Full-Stack Web Developer Certificate</strong></p><p>University of Richmond, Richmond, VA</p><p><blockquote>(July 2019)</blockquote></p><p><strong>Amazon Web Services Certified Cloud Practitioner: AWS Training and Certification</strong></p><p>Validation Number: CYN86EY1KBR4119R</p><p><blockquote>(2018)</blockquote></p>

<p><strong>Experience</strong></p>
<p><strong>ETL Developer</strong></p><p>PCS - Interoperability </p><p><strong>Change Healthcare</strong></p><p><blockquote>(December 2020 - Present; 5 months)</blockquote></p><ul><li>Software engineer who checks that documents are well-formed and valid in accordance with Fast Healthcare Interoperability Resources standards by utilizing Python, Apache Spark, Databricks, and AWS S3</li></ul><li>Performed XML validation and translation against the HL7 FHIR standard</li><li>Rewrote the entire  Inbound File Pipeline in a sequence of Python Lambdas in AWS that deployed from Gitlab via Terraform, improving throughput by over 200%, enhancing file tracking capabilities and overall pipeline security. </li><li>Designed, coded, and tested data warehousing system prior to data extraction to meet company specifications</li><li>Data extraction and testing of new warehousing system after data transfer</li><p><strong>Consulting Software Engineer</strong></p><p>Wipro Engineering Studios @ RVA<strong> </strong></p><p><strong>Wipro Limited</strong></p><p><i><strong>(</i></strong><i>January 2020 - Present; 12 months)</i></p><ul><li>Analyzed business requirements to provide mapping requirements as well as software development, implementations, and solutions</li></ul><li>Utilized and tracked business requirements, gatherings, and issues to update business process flows.  Documented software research tools and applications</li><li>Developed solution applications by modifying programs as well as interfacing clients, professionals, and consultants.  Evaluated technical design as well as quality issues and processes</li><li>Formulated highly functional qualitative modifications and system improvements by coordinating workflow processes as well as design, program, and testing issues</li><p><strong>Web Developer</strong></p><p>Wordpress Deployments | Readmissions Reduction Analyst</p><p><strong>VAAACares</strong></p><p><i>(August 2015 - Present; 5 years 6 months)</i><strong> </strong></p><ul><li>Built websites for VAAACares, EVCTP, and Senior Connections Area Agencies on Aging by utilizing Wordpress and hosting them on AWS EC2/Route 53.  Database administration conducted with plpMyAdmin and editing conducted with HTML/CSS/JS</li></ul><li>Generated an action plan and optimized user experience, agency messaging, and related metrics in accordance with the established timeline</li><li>Created a Content Management System (CMS) with Google Drive, Wordpress Plugins, and JavaScript to serve as agency-wide shared content and graphic repository</li><li>Conducted regression analysis on Eastern Virginia Care Transitions Partnership (EVCTP), anonymized protected health information (PHI), and sought readmissions factors </li><ul><li>Developed two Java Swing apps for care transition evaluations</li></ul><ul><li><a href="https://github.com/josephedward/Readmissions_Calculators" rel="nofollow">https://github.com/josephedward/Readmissions_Calculators</a></li></ul><p><strong>Angular Developer</strong></p><p>Java Development Team | Angular 8 for MRxRebatev2 </p><p><strong>Magellan Health</strong></p><p><i>(March 2020 - December 2020; 10 months)</i><strong> </strong></p><ul><li>Met sprint deadlines with assigned stories in JIRA, worked in an agile framework with daily standups  </li></ul><li>Resolved QA bug fixes according to test-driven design </li><li>Created TypeScript components in Angular 8/Angular Material codebase for Okta-integrated MRxRebate UI. Wrote Microservices for Spring Boot in Java, for MRXRebate Services against Oracle SQL databases. </li><li>Tested microservices with Postman, Swagger</li><li>Tested UI with Karma and Protractor</li><li>Managed deployments, invalidations across multiple environments in AWS CodeCommit and CloudFront for MRXRebate deployment</li>


<p><strong>Solutions Engineer</strong></p><p>WCAG Accessibility Remediation</p><p><strong>User1st</strong></p><p><i>(September 2019 - December 2019; 4 months)</i><strong> </strong></p><ul><li>Audited, mapped, and remediated client sites with custom JavaScript and jQuery syntax, via uTester and uRemediate software platform interfaces</li></ul><li>Made all meaningful content on these websites programmatically navigable</li><li>Ensured client sites adhered to Web Content Accessibility Guidelines (WCAG) 2.0, Web Accessibility Initiative (WAI), and Section 508 (Rehabilitation Act) guidelines</li><li>Trained on SCORM-based Training Content System with over 100 course modules, quizzes, and exams on accessibility</li><li>Performed consistent regression and user experience tests to error check against compliance standards</li><li>GSA Section 508 Accessibility Certified</li><p><strong>Software Engineer</strong></p><p>Blockchain Prototyping | SecQR.Me Application</p><p><strong>ProQual-I.T Inc</strong></p><p><blockquote>(January 2017 - June 2017; 6 months)</blockquote></p><ul><li>Prototyped blockchain as a permissions layer on biometric information for Practice Guardian app; documentation, UML modeling, data collection and analysis on 30+ different blockchain services for suitability  </li></ul><li>Advised on technical approaches to the challenging problem of P.H.I. blockchain utilization</li><li>Performed frontend work by maintaining app webpage and adding visually appealing features with Javascript, jQuery, HTML, and CSS</li><li>Performed backend work by support testing on SecQRme wristband QR tracking application on multiple camera phones and wristband scanning technologies</li><ul><li>Wrote and automated storing practice messages by utilizing Java codebase with Eclipse and Netbeans. Committed via Subversion centralized V.C.S.</li></ul>

<p><strong>Education</strong></p>
<p><strong>Postgraduate Nondegree Studies, Software Engineering</strong></p><p>George Mason University, Fairfax, VA</p><p><blockquote>(2014 - 2015)</blockquote></p><ul><li>GPA: 3.56</li></ul><li>Pitch IT Competition Selection <i>(April 2014)</i></li><li>George Mason University Laboratory for Information Technology Entrepreneurship</li><ul><li>Entrepreneur Competition Selection Runner Up, ModSim World Conference <i>(March 2014)</i></li></ul><p><strong>Bachelor of Science, Political Science and Finance Minor</strong></p><p>Old Dominion University, Norfolk, VA</p><p><blockquote>(2009 - 2013)</blockquote></p><li>GPA: 3.79 - magna cum laude</li><li>Pi Sigma Alpha Honor Society</li><li>Complexity in Business Conference Selection, University of Maryland Center for Complexity in Business <i>(November 2013)</i></li><li>Capstone Conference Selection, Virginia Modeling and Simulation Center (VMASC) <i>(March 2013)</i></li><li>Undergraduate Fellowship Research Grant, Old Dominion University Honors College <i>(June 2012)</i></li>






<p><strong>Projects</strong></p>
<p><strong>EOS Chain Navigator</strong></p><p><a href="https://eosjs-chain-nav.herokuapp.com/" rel="nofollow">https://eosjs-chain-nav.herokuapp.com/</a></p><p>Utilizes React, React Hooks, and EOSJS to make a EOS blockchain web navigator</p><p><strong>Libridex</strong></p><p><a href="https://github.com/josephedward/audiobook_shuffle" rel="nofollow">https://github.com/josephedward/audiobook_shuffle</a></p><p>Utilizes React, SemanticUI, Mongoose, and Node.js to recommend audiobooks to users and give samples to encourage purchases</p><p><strong>Libridex Recommendation Engine</strong></p><p><a href="https://github.com/josephedward/Libridex_Recommendation_Engine" rel="nofollow">https://github.com/josephedward/Libridex_Recommendation_Engine</a></p><p>Utilizes NLP, Cosine Similarity, Flask, Scikit-Learn, and SQL to select new recommendations based on the Cosine Similarity to books in their library</p><p><strong>Coronavirus Dashboard</strong></p><p><a href="https://github.com/josephedward/covid_group_project" rel="nofollow">https://github.com/josephedward/covid_group_project</a></p><p>Utilizes D3, Plotly, Numpy, and Pandas to plot the geographic spread of COVID-19 across a map</p><p><strong>The Kittrell Company Website</strong></p><p><a href="https://www.thekittrellcompany.com" rel="nofollow">https://www.thekittrellcompany.com</a></p><p>Utilizes JQuery, PHP, and Node.js to create an aesthetically pleasing and user friendly site for home construction company Kittrell Company</p><p><strong>Oklahoma Earthquakes</strong></p><p><a href="https://github.com/josephedward/Oklahoma_Earthquakes" rel="nofollow">https://github.com/josephedward/Oklahoma_Earthquakes</a></p><p>Utilizes MapboxGL, Binder, and Scikit-Learn, to analyze the relationship between Oklahoma earthquakes and saltwater injection wells</p><p><strong>Sentact</strong></p><p><a href="https://github.com/josephedward/GroupProject2" rel="nofollow">https://github.com/josephedward/GroupProject2</a></p><p>Utilizes HTML, JavaScript, and MySQL to help users to match with each other based on a series of questions and sentiment analysis</p><p><strong>SpanMove</strong></p><p><a href="https://github.com/josephedward/group-project-1" rel="nofollow">https://github.com/josephedward/group-project-1</a></p><p>JQuery, HTML, CSS, and Firebase for a bridge control simulation</p>

